@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

body {
  font-family: sans-serif;
  background-color: rgb(245, 245, 245);
}

h1, h2, h3, .card-body>h5 {
  font-family: "Raleway", sans-serif;
}

h1, h3 {
  color: #cc4f14;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron{
  display: block;
  margin: 0 auto;
  margin-bottom: 2%;
  text-align: center;
  border-bottom: 2px solid #cc4f14;
  background-color: white ;
  max-height: 250px;
}

.centerNav{
  display: inline-block;
  margin: 0 auto;
}

.navbar-light {
  font-size: large;
}

.navToggler{
  background-color: white;
}

svg{
  color: #81310c;
}

.site-footer {
  background-color: #cc4f14;
  padding: 20px 0;
}

.site-footer a {
  color: white;
  margin-top: 100%;
}

.pageContainer{
  min-height: 100vh;
}

.social{
  max-width: 60%;
  margin-top: -5%;
  margin-bottom: 5%;
}

