body {
  font-family: sans-serif;
  background-color: rgb(245, 245, 245);
}

h1, h2, h3, .card-body>h5 {
  font-family: "Aleo", sans-serif;
}

h2 {
  color: plum;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron{
  margin: 0;
  background-color: rgb(42, 179, 233);
  padding: 0%;
  margin-bottom: 2%;
}

.navbar-light {
  background-color: rgb(255, 255, 255);
  height: 5.5em;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
}


.site-footer {
  background-color: rgb(42, 179, 233);
  padding: 20px 0;
}

.site-footer a {
  color: white;
  margin-top: 100%;
}

.pageContainer{
  min-height: 100vh;
}